@import "nib"
vendor-prefixes = webkit o ms moz official
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);
/*@font-face {
	font-family: 'Ancona-Ex-Regular';
	src: url('font/Ancona-Ex-Regular.eot');
	src: local('☺'), url('font/Ancona-Ex-Regular.woff') format('woff'), url('font/Ancona-Ex-Regular.ttf') format('truetype'), url('font/Ancona-Ex-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
azul_oscuro=#062f3c
rojo_error=red
body
	font-family 'Raleway', sans-serif
	font-size 16px
a
	text-decoration none !important
*
	&:active
	&:focus
	&:link
		outline none !important
.noPointer
	cursor default
.divInline
	display inline-block
.contenedor {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.contenedor {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.contenedor {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.contenedor {
		width: 1170px;
	}
}
/*Helpers;*/
.cleaner
	box-sizing border-box
		*zoom: 1;
	&:before
	&:after
		display table
		line-height 0
		content ""
	&:after
		clear both
label.error
	display none !important;
input
textarea
select
	&.error
		box-shadow none !important
		border-bottom 2px solid red !important
		animation 0.7s 1 wobble-horizontal linear
@keyframes wobble-horizontal {
	16.65% {
		transform translateX(8px)
	}
	33.3% {
		transform translateX(-6px)
	}
	49.95% {
		transform: translateX(4px)
	}
	66.6% {
		transform translateX(-2px)
	}
	83.25% {
		transform translateX(1px)
	}
	100% {
		transform translateX(0)
	}
}
.margin10Bottom
	margin-bottom 10px
.margin10Top
	margin-top	10px
.noPadding
	padding 0 !important
.padding15Lados
	padding-left 15px !important
	padding-right 15px !important
ol
ul
	list-style none
	padding 0
	margin auto
	text-align center
/* titulo secion */
.tituloMain
	margin auto auto 40px
	.tituloTexto
		width 100%
		max-width 900px
		margin auto auto 15px
		text-align center
		h2
		p
			font-size 20px
			line-height 1.35
			margin auto
	.subtituloTexto
		width 100%
		max-width 900px
		margin auto auto 5px
		text-align center
		h4
		p
			font-size 16px
			margin auto
			line-height 1.4
	.lineaBox
		position relative
		width 50%
		height 1px
		margin 15px auto 15px
		&:before
			position absolute
			top 0
			left 0
			width 40%
			content ""
			border-bottom 2px dotted naranja1
		&:after
			position absolute
			top 0
			right 0
			width 40%
			content ""
			border-bottom 2px dotted naranja1
		.flechaLinea
		svg
			position absolute
			top 50%
			left 50%
			transform translateX(-50%) translateY(-50%)
			width 18px
			height 18px
@media (min-width: 480px)
	.tituloMain
		margin auto auto 50px
		.tituloTexto
			h2
			p
				font-size 22px
		.subtituloTexto
			h4
			p
				font-size 17px
@media (min-width: 768px)
	.tituloMain
		.tituloTexto
			h2
			p
				font-size 26px
		.subtituloTexto
			h4
			p
				font-size 20px
		.lineaBox
			width 30%
@media (min-width: 992px)
	.tituloMain
		.tituloTexto
			h2
			p
				font-size 30px
		.subtituloTexto
			h4
			p
				font-size 22px
/* texto contenido normal */
.txtNormal
	font-size 14px
	line-height 1.4
	text-align left
	font-weight lighter
	h2
	p
		font-size inherit
@media (min-width: 480px)
	.txtNormal
		font-size 16px
		h2
		p
			font-size inherit
@media (min-width: 768px)
	.txtNormal
		font-size 16px
		h2
		p
			font-size inherit
.tituloBox
	padding 0 15px
	margin auto auto 15px
	h1
	h2
	h3
	h4
	h5
	p
		font-size 20px
		font-weight normal
		color azul_titulo
		margin auto
.linkTxt
	position relative
	font-weight bold
	color naranja1
	transform translateZ(0)
	&:hover
		&:before
			left 0
			right 0
	&:before
		position absolute
		content ""
		bottom -5px
		left 50%
		right 50%
		height 2px
		background-color azul1
		transition-property left, right
		transition-timing-function ease-out
		transition-duration 0.3s
.dkImgBox
	position relative
	display inline-block
	width 100%
	height 180px
	overflow hidden
	img
		position absolute
		top 50%
		left 0
		width 100%
		transform translateY(-50%)
.fadeIn
	animation-name fadeIn
	animation-duration 3s
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.fadeOut
	animation-name fadeOut
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.margin10Bottom
	margin-bottom 10px
.margin10Top
	margin-top 10px
.noPadding
	padding 0
.max390
	max-width 390px
.max1065
	max-width 1065px
.box450
	max-width 450px
	margin-left auto
	margin-right auto
.box750
	max-width 750px
	margin-left auto
	margin-right auto
.box800
	max-width 800px
	margin-left auto
	margin-right auto
.box950
	max-width 950px
	margin-left auto
	margin-right auto
/***************************************************
				Mensaje error validacion form
****************************************************/
body
	&.showContenedor
		#contenedor-alerta
			opacity 1
			transform translateY(0px)
			.progress
				animation runProgress 2.1s linear forwards 0.4s
#contenedor-alerta
	opacity 0
	transition all .3s ease-in-out
	transform translateY(100px)
	position fixed
	bottom 0px
	left 0
	width 100%
	height auto
	background azul_oscuro
	color #fff
	z-index 1000
	.progress
		position absolute
		top 0
		left 0
		height 4px
		width 0%
		margin auto !important
	.texto
		position relative
		text-align center
		padding 10px
		font-size 18px
		color #fff
@keyframes runProgress {
	0%{
		width 0%
		background rojo_error
	}
	100%{
		width 100%
		background rojo_error
	}
}
/***************************************************
					btn slide
****************************************************/
.btnGo
	position absolute
	top 56%
	transform translateY(-50%)
	z-index 20
	&:hover
		svg
			opacity 0.5
	svg
		width 35px
		height 35px
		transition all 0.5s
	i
		&:before
			font-size 35px
			color naranja
.goBack
	left 0
	svg
		transform rotate(-180deg)
.goNext
	right 0
/***************************************************
					animacion de item de lista
****************************************************/
.anima_list
	.anima_item
		margin auto auto 35px
		transform scale(0)
		&.animated
			transform scale(1)
			transition all 0.3s cubic-bezier(0.55, 0, 0.1, 1)
.no-js
	.anima_list
		.anima_item
			transform scale(1)
/***************************************************
					Loading
****************************************************/
.ip-header
	position fixed
	top 0
	z-index 100
	min-height 480px
	width 100%
	height 100%
	background azul_oscuro
	.ip-logo
	.ip-loader
		position relative
		opacity 0
		width 100%
	.ip-logo
		margin-bottom 50px
		top 40%
		transform translateY(-50%)
		figure
			text-align center
			img
				max-width 150px
				width 100%
	.ip-loader
		top 50%
		transform translateY(-50%)
		opacity 0
		.ip-inner
			display block
			margin 0 auto
			path
				fill none
				stroke-width 6
			.ip-loader-circle
				transition stroke-dashoffset 0.2s
				stroke #fff
.loading
	.ip-header
		.ip-loader
		.ip-logo
			opacity 1
			animation animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both
		.ip-loader
			animation-delay 0.1s
.loaded
	.ip-header
		animation animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards
		.ip-logo
		.ip-loader
			opacity 1
	.ipUp
		animation animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both
.no-js
	.ip-header
		position relative
		min-height 0
		.ip-logo
			margin-top 20px
			height 180px
			opacity 1
			transform none
@keyframes animInitialHeader {
	from {
		opacity 0
		transform translate3d(0,800px,0)
	}
}
@keyframes animLoadedHeader {
	to {
		transform: translate3d(0,-100%,0);
	}
}
@keyframes animLoadedContent {
	from {
		opacity 0
		transform translate3d(0,200px,0)
	}
}
/***************************************************
					footer
****************************************************/
.footer
	box-shadow 0px 1px 10px rgba(0,0,0,0.35)
	margin-top 35px
	.copyright
		.copyright_list
			padding 10px 0
			.copyright_item
				height 26px
				line-height 26px
				a
				p
					position relative
					color azul_titulo
					margin auto
				.logo
					transform scale(1)
					transition all 0.5s
					&:hover
						transform scale(1.05)
				a
					transition all 0.5s
					&:hover
					&:focus
						color naranja1
						svg
							path
								fill naranja1
					svg
						position relative
						top 4px
						margin-right 5px
						width 20px
						height 20px
						transition all 0.5s
						path
							fill azul1
/* bg particle */
#particles
	width 100%
	height 100%
	overflow hidden
	top 0
	bottom 0
	left 0
	right 0
	position absolute
	z-index -2
.panel
	background-color transparent

.panel-body
	padding-top 30px
	background-color rgba(2555,255,255,.3)
.iconmelon
.im
	position relative
	width 150px
	height 150px
	display block
	margin auto auto 30px
	fill #525151

.iconmelon
.im
	&after
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 100%
.mainbox
	margin-top 30px
.frm
	margin 15px auto
.margin15TB
	margin 15px auto
/* frm */
form
	.select2-container
		width 100% !important
	textarea
		resize none
